* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e6e6e4;
  color: #49484d;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  align-items: center;
}

.header a {
  margin-right: 20px;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

.header a:hover {
  text-decoration: underline;
}


.header__right {
  display: flex;
  margin-left: auto;
  justify-content: space-between;
}

/* Main Body */

.mainBody {
  flex: 1;
  display: flex;
  margin-top: 12%;
  flex-direction: column;
}

.mainBody img {
  object-fit: contain;
  height: 100px;
}

/* search */
.search__input {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #bebebe;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 25px;
  max-width: 560px;
}

.search__input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search__input .material-icons {
  color: gray;
}

.search__buttons {
  color: #49484d;
  font-size: 16px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search__buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  outline: none;
  border: 1px solid #bebebe;
  border-radius: 999px;
  cursor: pointer;
}

button:hover {
  background-color: #49484d;
  color: #f8f8f8;
  border: 1px solid #49484d;
  transition: background-color 1s;
}

