body {
  background-color: #12232E;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  font-weight: lighter;
  color: #EEFBFB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
div {
  position: relative;
}
img {
  width: 100%;
  height: auto;
}
#logo {
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  max-height: 92px;
  max-width: 272px;
}
.search-input {
  display: flex;
  align-items: center;
  border: 1px solid #EEFBFB;
  height: 45px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 560px;
}
textarea:focus,
input:focus {
  outline: none;
}
.search-btn {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.search-btn .btn {
  color: #EEFBFB;
  margin: 5px;
  padding: 10px 15px;
  background-color: #4DA8DA;
  border: 1px solid transparent;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
}
.btn:hover {
  background-color: #ccc;
  color: #EEFBFB;
  border: 1px solid #EEFBFB;
  transition: background-color 1s;
}
